# Laravel default
/node_modules
/public/build
/public/hot
/public/storage
/public/css/filament
/public/js/filament
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE and Text editors
/.idea
/.vscode
/.fleet
/.scribe

# SonarQube
/.scannerwork

# IDE Helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# PHP CS Fixer
.php-cs-fixer.cache
.DS_Store

# Others
i18nally.json
phpstan-report.json
